name: "Release dev container features & Generate Documentation"
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**/devcontainer-feature.json'  # Triggers on any devcontainer-feature.json change

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./src"
          generate-docs: "true"
          
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request for Documentation
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'Automated documentation update [skip ci]'
          branch: automated-documentation-update-${{ github.run_id }}
          title: 'Automated documentation update'
          body: 'Auto-generated documentation from feature publishing'
          add-paths: |
            */**/README.md
